
@{
    ViewBag.Title = "Index";
}

<h2>Главная</h2>
<p>
    @Html.ActionLink("Рабочие", "Workers", null, new {@class = "btn btn-lg btn-default" })
</p>
<p>
    @Html.ActionLink("Объекты", "WorkerObjects", null, new { @class = "btn btn-lg btn-default" })
</p>

<p>
    @Html.ActionLink("Смены", "WorkerShifts", null, new { @class = "btn btn-lg btn-default" })
</p>
